<div id="usuario" class="col-sm-6" data-ng-controller="UsuarioCtrl as vm">
	<div class="panel panel100">
		<img id="imagem-thumb" data-ng-src="{{ vm.usuario.avatar }}" class="img-responsive">
		<hr>
		<h3 class="title-table">Usuário <span class="edit-info">{{ vm.usuario.nome }}</span></h3>
		<hr>
		<table class="pedidos-table pedidos-container table">
			<tbody>
			<tr>
				<td>Email: </td>
				<td class="text-right edit-info"> {{vm.usuario.email }}</td>
			</tr>
			<tr>
				<td>Telefone: </td>
				<td class="text-right edit-info"> {{ vm.usuario.telefone }}</td>
			</tr>
			<tr>
				<td>Cidade: </td>
				<td class="text-right edit-info"> {{ vm.usuario.cidade }}</td>
			</tr>
			<tr>
				<td>Estado: </td>
				<td class="text-right edit-info"> {{ vm.usuario.estado }}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>