.btn{
    text-transform: uppercase;
    color: white;
    border-bottom: 3px solid rgba(0,0,0,0.1);
	&.active{
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
    &.btn-add{
        margin-top: 40px;
        border-bottom: 3px solid rgba(0,0,0,0.1);
        height: 32px;
        width: 35px;
        padding: 5px;
        background: $green-success;
        box-shadow: none;
    }
    &:hover{
        color: white;
    }
    &.btn-default{
        color: #333;
    }
    &.btn-export{
        width: 40px;
        height: 40px;
        font-size: 2rem;
        padding: 4px;
    }
}