<div data-ng-controller="PedidosCtrl as vm">
<h3>Lista de Pedidos</h3>
<a data-toggle="modal" data-target="#addPedido" class="btn btn-green">Adicionar Novo</a>
<div id="busca">
	<label for="busca"><i class="fa fa-search"></i></label>
	<input data-ng-model="busca" id="busca" type="text" placeholder="Busca">
</div>
<div class="panel form">
	<table class="table">
		<thead>
			<tr>
				<th class="text-center">Imagem</th>
				<th class="text-left">Cod</th>
				<th>Nome</th>
				<th class="text-left">Descricao</th>
				<th class="text-center">Ações</th>
			</tr>
		</thead>
		<tbody class="table">
			<tr data-ng-repeat="pedido in vm.pedidos | filter:busca">
				<td class="text-center">  <img data-ng-src="{{pedido.imagem}}" class="img-responsive"></td>
				<td class="text-left">  {{ pedido.id }}</td>
				<td> {{ pedido.nome }}</td>	
				<td class="text-left"> {{ pedido.descricao }}</td>	
				<td class="text-center">
					<button data-ng-click="vm.deletaPedido(pedido.id)" class="btn btn-delete btn-red"><i class="fa fa-trash"></i></button>
				</td>	
			</tr>
		</tbody>
	</table>
</div>
    <!-- Modal -->
<div class="modal fade" id="addPedido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Adicionar Pedido</h4>
        </div>
        <div class="modal-body">
        	<form>
        		<input type="text" placeholder="Nome" data-ng-model="pedido.nome" class="form-control"><br>
        		<input type="text" placeholder="Descricao" data-ng-model="pedido.descricao" class="form-control">
        	</form>
        	<div class="message"></div>
        </div>
        <div class="modal-footer">  
            <button data-ng-click="vm.addPedido( pedido )" class="btn btn-green">Cadastrar</button>
            <button class="btn btn-default ripple btn-close">Não</button>
        </div>
    </div>
</div>
</div>
</div> 