<div data-ng-controller="EntregaCtrl as vm">
<h3>Lista de Entregas</h3>
<a data-toggle="modal" data-target="#addPedido" class="btn btn-green">Adicionar Novo</a>
<div id="busca">
	<label for="busca"><i class="fa fa-search"></i></label>
	<input data-ng-model="busca" id="busca" type="text" placeholder="Busca">
</div>
<div class="panel form">
	<table class="table">
		<thead>
			<tr>
				<th class="text-center">Cod</th>
				<th class="text-left">Local</th>
				<th>Cidade</th>
				<th class="text-left">Estado</th>
				<th class="text-left">Status</th>
			</tr>
		</thead>
		<tbody class="table">
			<tr data-ng-repeat="entrega in vm.entregas | filter:busca">
				<td class="text-left">  {{ entrega.id }}</td>
				<td> {{ entrega.local }}</td>	
				<td> {{ entrega.cidade }}</td>	
				<td class="text-left"> {{ entrega.estado }}</td>
				<td class="text-left {{ entrega.status.toLowerCase() }}"> {{ entrega.status }}</td>
			</tr>
		</tbody>
	</table>
</div>

    <!-- Modal -->
<div class="modal fade" id="addPedido" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Adicionar Pedido</h4>
        </div>
        <div class="modal-body">
        	<form>
        		<input type="text" placeholder="Bairro" data-ng-model="entrega.local" class="form-control"><br>
        		<input type="text" placeholder="Cidade" data-ng-model="entrega.cidade" class="form-control"><br>
        		<input type="text" placeholder="Estado" data-ng-model="entrega.estado" class="form-control">
        	</form>
        	<div class="message"></div>
        </div>
        <div class="modal-footer">  
            <button data-ng-click="vm.addEntrega( entrega )" class="btn btn-green">Cadastrar</button>
            <button class="btn btn-default ripple btn-close">Não</button>
        </div>
    </div>
</div>

</div> 