<header id="header" class="admin">
    <div class="btn-burguer">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="btns">
        <div class="usuario" data-ng-controller="UsuarioCtrl as vm">
            <figure class="avatar">
                <img data-ng-src="{{ vm.usuario.avatar }}" class="avatar-image">
            </figure>
            <a href="usuario">{{ vm.usuario.nome }}</a>
        </div>
        <div class="logout">
            <a href="logout">Sair <i class="fa fa-sign-out"></i></a>
        </div>
    </div>
</header>
<aside>
    <nav>
        <ul>
            <li data-toggle="tooltip" data-title="Pedidos">
                <a href="pedidos"><i class="fa fa-list-alt"></i> Pedidos</a>
            </li>
            <li data-toggle="tooltip" data-title="Entregas">
                <a href="entregas"><i class="fa fa-bar-chart-o"></i> Entregas</a>
            </li>
            <li data-toggle="tooltip" data-title="Usuário">
                <a href="usuario"><i class="fa fa-user"></i> Usuário</a>
            </li>
        </ul>
    </nav>
</aside>